// * import index file
@use 'tools' as *;

// =======================================================================================================
body {
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    font-weight: 400;
    font-size: fluid(18, 14);
    color: $color-grey-70;
    background-color: $color-dark-06;
    line-height: 1.5;

    &._lock {
        overflow: hidden;
    }

    // press footer
    .main {
        flex: 1 1 auto;
        // fix slider
        min-width: 0;
    }
}

// =======================================================================================================
// * Утилитарные классы

// сontainer
$containerWidth: rem(1600);
$containerPaddingX: rem(15);

._container {
    max-width: calc($containerWidth + $containerPaddingX * 2);
    margin: 0 auto;
    padding: 0px $containerPaddingX;
}