// * import index file
@use '../tools' as *;
// =============================================================

.services {
    padding: fluid(40, 20) rem(0);

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);

        @media (max-width: $laptop) {
            gap: rem(10);
        }

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}